html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
  }
  .container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 187, 39);
}

.box1{
  height: 550px;
  width: 600px;
  background-color: rgb(235, 237, 240);
  border-radius: 20px 0 0 20px;
}
.box2{
  height: 550px;
  width: 600px;
  background-color: rgb(235, 237, 240);
  border-radius: 0 20px 20px 0;
  /* background-image: url(/Web_Devlpmnt/IMAGES_FIGMA/img.png); */
}
ul{
  list-style: none;
  margin-left: 260px;
  margin-top: 5px;

}

li{
  display: inline-block;
  padding: 10px;
}

img{
  height: 400px;
}
p,h1{
  margin-left: 80px;
}

.button{
  margin-left: 80px;
  background-color: rgb(250, 187, 39);
  border: hidden;
  padding: 5px;
  border-radius: 5px;

}

button{
  margin-left: 20px;
}
  


